-----BEGIN CERTIFICATE-----
MIIC/jCCAeagAwIBAgIUH/uI94evolAR1/dgCrtfVi5uw8owDQYJKoZIhvcNAQEL
BQAwFTETMBEGA1UEAwwKdW5pY2F0LmRheTAeFw0yNTAzMTAwOTU0MTFaFw0yNjAz
MTAwOTU0MTFaMBUxEzARBgNVBAMMCnVuaWNhdC5kYXkwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQDWfiIWX67QlHQV2brYoWRpFm/6Lqjd8EbI+nCm6g3A
/ziEQODB+4OWA31LoeprP8Y0PFmpGUB3M4XPgNElA6j98+HuMlawrY9CNvbt6cww
Vkfx/ss3gQDUGY1A8KonQ6U/GXhHiV+e3XGlAbByscinuJyUbnIdc9733jhQbu3u
asKxFoH9+N79RpoW8U0oDg14D+nP/oVf/vT0ZT2GbNm2FKznE3WG2m1gkzytXMA5
99DKhfCir0ol0JE/Yrf0tCYlb786wIiF6Mr0cvQfI8n+G6FtdjBBh2nWp//p1J4U
7GkunJVtgYgL7WcRDYVZkfGPdWvSFkJiS+ENrWwYEETlAgMBAAGjRjBEMCMGA1Ud
EQQcMBqCCnVuaWNhdC5kYXmCDCoudW5pY2F0LmRheTAdBgNVHQ4EFgQUc08sYNk5
/dXw7wkKy9jzwoQ++4MwDQYJKoZIhvcNAQELBQADggEBAAdHk3sulRi9Mjl1lUyy
aSN8MQz+cy32ENBOp1HaJiqf0GfYdoTcY7/fjjIHP93GBBlwxfd+DmYxm6+kFHqc
ykGKopNduo5p+LscsfZKjyJJSSLUDLn8s7VDsyIWzs4+qBIj81yjvwnjVWwzXPOW
ipthADvqWFijQIH8ALTtE8jdkYgFYdh+8mH+gEeaSoht68vK9DzCiyFKGjIxCXsm
/HAGDnKHuGf3VCTk6Fr/+kHCPWuTM/x4IGo9G4TyP09WK5gGc8ZU1VMB7ez1mt2K
GNmXz0lRnDZ70VbuRAUsTnEgQcy8seumArsNOi62xGm+cEWu7TWB55NKR+y2ifYp
c5I=
-----END CERTIFICATE-----
